.loader {
  margin: 3rem auto 0 auto;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #5c3f2d; /* brown */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
